*{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 60px;
}

input {
  width:50%;
  font-size: 1rem;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

ol{
  padding: 10px 0;
}

.look-advice{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  color: rgb(133, 133, 133);
}

.category{
  font-size: 2rem;
  margin: 20px 0;
  text-transform: capitalize;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid none;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.card p{
  padding: 10px 0;
  text-align: center;
}

.card img{
  vertical-align: middle;
  max-height: 170px;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}